Library/
.vs/
build/
Temp/
Logs/
.idea/
ExportedObj/
Screenshots/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Assets/tmp/
Assets/tmp.meta

Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
EditorConfigLis
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2022.dwlt
